.edit-card{

}
.edit-card-group-1{
    display: flex;
    gap: 10px;
    justify-content: space-between;

    align-items: center;
}
.edit-card-group-2{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
textarea{
    font-family:"Roboto", sans-serif;
}
.edit-card-group-2 .description-text{
    height: 80%;
    width: 70%;
}
.edit-card-group-3{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.save-changes-button{
    border-radius: 5px;
    padding:5px;
    width: 60px;
}