.item-card{
    background-color: var(--item);
    width: 90%;
    
    border-radius: 5px;
    /* border: 2px solid grey; */
    padding: 10px;
    padding-left: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "title due actions"
    "description description priority";
    align-items: baseline;
    row-gap: 12px;
    /* column-gap: 10px; */
    box-shadow: 3px 3px 0 2px var(--medium);
}
.item-expanded{
    height: 95px;
}
.item-collapsed{
    height: 23px;
    overflow: hidden;
}
h3, p{
    margin: 0;
    text-align: left;
    /* padding-left: 10px; */
}
p{
    
}
.card-actions{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
}
.card-heading{
    grid-area: title;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 23px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.card-due{
    grid-area: due;
}
.card-actions{
    grid-area: actions;
}
.card-description{
    grid-area: description;
    padding: 5px;
    height: 45px;
    /* background-color: var(--item); */
    border: 1px solid var(--medium);
    border-radius: 5px;
}
.card-priority{
    padding-left: 10px;
    grid-area: priority;
    align-items: start;
    text-align: end;
}
.Completed{
    background-color: rgb(196, 241, 188);
}
.priority-2{
    border-right: 10px solid rgb(223, 139, 139);

}
.priority-1{
    border-right: 10px solid rgb(233, 233, 117);

}
.priority-0{
border-right: 10px solid rgb(117, 231, 117);
}
.card-actions svg{
    transition: 0.2s;
}
.card-actions svg:hover{
transform: scale(1.1);
}